@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #c9c7c7;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* border-radius: 5px; */
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4b4a4a;
}